    	@font-face {
		    font-family: 'syntheseweb-regular';
		    src: url('../font/syntheseweb-regular-TRIAL-BF63b781f35bc84.woff') format('woff');
		}
        @font-face {
            font-family: 'syntheseweb-light';
            src: url('../font/syntheseweb-light-TRIAL-BF63b781f2cbce4.woff') format('woff');
        }
        @font-face {
            font-family: 'Charm-Regular';
            src: url('../font/Rumba W01 Large.woff') format('woff');
        }
        .p1_slider1-txt p, .p1_slider2-txt p{
            font-family: 'Charm-Regular', sans-serif;
            line-height: 30px;
            padding: 0px 25px;
        }
        #nextdiv3{
            fill:#c8c8c8;
        }
        * {
            padding: 0;
            margin: 0;
        }
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            background: #ffffff;
        }
        body {
            font-family: 'syntheseweb-regular', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f9f9f9;
            width: 100%;
            height:100%;        
        }
        .header {
            background-color: #fff;
            text-align: center;
            position: fixed;
            left: 0;
            top: 0;
            z-index: 900;
            width: calc(100% - 100px);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 50px;
        }
        
        .header nav a {
            margin-left: 160px;
            text-decoration: none;
            color: #414040;
        }
        .header nav a p{
        	font-size: 14px;
        }
        .container {
    /*display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 0%;
    left: 0%;*/
    width: 100%;
    height:100%;
}
        
        .content1 h1 {
            font-size: 25px;
    		font-weight: bold;
            color: #000000;
            margin-bottom: 0px;
            padding: 0px 70px;
        }
        .content1 h2 {
    font-size: 35px;
    color: #7f7f7f;
    margin-bottom: 35px;
    padding: 0px 70px;
}
        .content1 p {
            font-size: 18px;
            color: #414040;
        }
        .content1 p span {
            color: #e63946;
            font-weight: initial;
        }
        .content2 h1 {
            font-size: 36px;
            color: #414040;
            margin-bottom: 20px;
        }
        .content2 h2 {
            font-size: 48px;
            color: #414040;
            margin-bottom: 20px;
        }
        .content2 p {
            font-size: 20px;
            color: #303030;
        }
        .content2 p span {
            color: #e63946;
            font-weight: initial;
        }
        .container-main{
            
  background-image: linear-gradient(rgb(0 0 0 / 0%), rgb(0 0 0 / 0%)), url(../img/bg-2.png);

  position: relative; /* Keeps the background fixed during scrolling */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
        }
 .content1{
 	width: 75%;
    position: absolute;
    top: 84%;
    left: 0%;
    transform: translate(-0%, -0%);
 }
.txt-dark{
    color:#78206e;
}
.content_sub0 {
    position: absolute;
    left: 3%;
    transform: translate(-0%, -160%);
}
.content_sub1{
    width: 25%;
    position: absolute;
    left: 67%;
    transform: translate(-0%, -220%);
}
.content_sub2 {
    width: 25%;
    position: absolute;
    left: 67%;
    transform: translate(-0%, -160%);
}
.content_sub1 p {
    padding: 0px;
    line-height: 35px;
    font-size: 20px;
}
.content_sub2 p {
	color: #434242;
}
.sub2_border{
    display: flex;
    align-items: center;
}

.sub2_border-left p{
    font-size: 12px;
}
.sub2_border-left p span{
    font-weight: initial;
} 
.nav img{
    width:25px;
    height: auto;
}
.nav{
    display: flex;
}
#Layer_1 {
        bottom: -15%;
    position: absolute;
}
.txt-gray{
	color:#636262;
}
.content_sub0 h1{
	font-size: 20px;
}
.content_sub1 p {
	color:#434242;
}
.sub2_border-left p{
	color:#434242;
}
.txt-dark{
    color:#78206e;
}

.image-container {
    width: 100%; /* Full width of the parent */
    height: auto; /* Set a specific height */
    background-color: #f0f0f0; /* Optional: background color for extra space */
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
}
.image-container img {
    width: 100%; /* Make the image responsive to the width of its container */
    height: auto; /* Maintain the aspect ratio */
    object-fit: contain; /* Ensures the entire image is visible */
}

.header .logo img {
    width: 50px;
}
.text-container {
    position: absolute;
    width: 100%;
    bottom: 0px;
    display: flex;
}
.content_left{
	width:60%;
}
.content_right{
	width:40%;
}
.image-container {
    background-image: linear-gradient(rgb(0 0 0 / 0%), rgb(0 0 0 / 0%)), url(../img/bg-2.png);
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
}
.content_sub0 h2{
	font-size: 35px;
}
.content_sub0 h1{
	font-size: 25px;
}
.content_sub2 p{
	font-size: 13px;
}
.video-container{
    height:100vh; width:100%; display: flex; justify-content: center; align-items: center;background: #635042;
}
.p1_slider1-border, .p1_slider2-border{
    display: flex;
    justify-content: center;
    align-items: center;
}
.p1_slider1-img, .p1_slider2-img{
    width:75%;
    position: relative;
}
.p1_slider1-img img, .p1_slider2-img img{
    width:100%;
}
.p1_slider1-txt, .p1_slider2-txt {
    width: 25%;
    padding: 0px 25px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.txt-red{
    color:red;
}
.txt-blue{
    color:#0070c0;
}
.p1_slider1-img-caption {
    position: absolute;
    transform: translate(0px, 0px);
    background: #0000002e;
    width: 20%;
    height: 70%;
    color: #fff;
    display: flex;
    align-items: flex-end;
    bottom: -80px;
    left: 0px;
}
.p1_slider2-img-caption {
    position: absolute;
    transform: translate(0px, 0px);
    background: #0070c02e;
    width: 20%;
    height: 70%;
    color: #fff;
    display: flex;
    align-items: flex-end;
    bottom: -80px;
    right: 0px;
}
.p1_slider1-img-caption p, .p1_slider2-img-caption p{
    padding: 0px 20px 65% 20px;
    font-family: 'syntheseweb-light', sans-serif;
    font-size: 18px;
}
.p1_slider-container{
    padding: 150px 0px 50px 0px;
    position: relative; 
    overflow: hidden; 
    width: 100%; 
    height: 100%;
}
.p1_slider1-control, .p1_slider2-control {
    position: absolute;
    /*transform: translate(950px, -314px);*/
    display: flex;
    align-items: center;
}
.p1_slider2-control-left{
    /*transform: translate(26px, -314px);*/
    position: absolute;
    display: flex;
    align-items: center;
}
.p1_slider1-control, .p1_slider2-control {
    align-items: center;
    position: absolute;
    top: 0px;
    right: 10px;
    display: flex;
    gap: 0px;
    height: 100%;
}
.p1_slider2-control-left{
    align-items: center;
    position: absolute;
    top: 0px;
    left: 10px;
    display: flex;
    gap: 0px;
    height: 100%;
}
.p1_slider2-control svg, .p1_slider1-control svg, .p1_slider2-control-left svg{
    width:50px;
    height:50px;
    fill: #ffffffad;
    cursor: pointer;
}
.p1_slider2-control svg:hover, .p1_slider1-control svg:hover, .p1_slider2-control-left svg:hover{
    fill: #ffffff;
}
.p1_slider1-dots, .p1_slider2-dots{
    display: flex;
    align-items: center;
    padding: 10px;
}
.dot{
    width:15px;
    height:15px;
    border-radius: 50px;
    background: #ffffff61;
    margin: 0px 5px;
}
.myDiv {
    position: absolute;
    width: 100%;
    opacity: 0;
    transform: translateX(100%); /* Start off-screen to the right */
    transition: opacity 0.2s ease, transform 0.8s ease; /* Smooth transition */
}

.myDiv.active {
    opacity: 1; /* Fade in */
    transform: translateX(0); /* Slide in */
}
.txt-pink{
    color:#ff2f92;
}
.play_button {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    transform: translate(-822px, 380px);
}
#playButton {
    background: #635042cf;
    border: none;
    cursor: pointer;
    padding: 5px;
    line-height: 10px;
    border-radius: 50px;
}
#statusText{
    color: #fff;
    margin-left: 10px;
    font-size: 16px;
    font-family: 'syntheseweb-light', sans-serif;
}
.image-container-mv{
    display: none;
}


@media only screen and (max-width: 1460px){
    .content_sub0 h1 {
        font-size: 22px;
    }
    .content_sub0 h2 {
        font-size: 32px;
    }
}

@media only screen and (max-width: 1424px){
    .content_sub1 p {
        font-size: 18px;
    }
    .content_sub2 p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1288px){
    .content_sub1 p {
        font-size: 16px;
    }
    .content_sub0 h1 {
        font-size: 20px;
    }
    .content_sub0 h2 {
        font-size: 30px;
    }
}
@media only screen and (max-width: 1140px){
    .content_sub1 p {
        font-size: 14px;
    }
    .content_sub0 h1 {
        font-size: 18px;
    }
    .content_sub0 h2 {
        font-size: 28px;
    }
}
@media only screen and (max-width: 1080px){
    .content_sub0 h1 {
        font-size: 14px;
    }
        .content_sub0 h2 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 768px){
	.header nav a {
    	margin-left: 30px;
	}
	.header nav a p {
	    font-size: 12px;
	}
	.header{
		width: calc(100% - 30px);
		padding: 15px 15px;
	}
	.header .logo img {
	    width: 30px;
	}
	.header .nav img {
	    width: 20px;
	}
    .content_sub0 {
        position: relative;
        left: 0%;
    }
    .content_sub0 {
        width: 100%;
        transform: translate(-0%, 0%);
        padding-bottom: 5%;
    }
    .content_right, .content_left {
        width: 100%;
    }
    .content_sub1 {
        width: 100%;
        left: 0%;
        transform: translate(0%, 0%);
        position: relative;
        padding-bottom: 20px;
    }
    .content_sub2 {
        width: 100%;
        left: 0%;
        transform: translate(0%, 0%);
        position: relative;
        padding-bottom: 20px;
    }
    .content_sub1 p {
        font-size: 14px;
        line-height: 25px;
    }
    .text-container {
        position: relative;
        width: 100%;
        bottom: unset;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 15px;
        margin-top: 0%;
    }
    .content_sub0 h1 {
        font-size: 20px;
    }
    .content_sub0 h2 {
        font-size: 25px;
    }
    .video-container {
        height: auto;
        margin-top:0px;
    }
    .image-container {
        background-image: none;
        position: relative;
        width: 100%;
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left top;
    }
    .image-container-mv{
        display: block;
        width:100%;
        height:auto;
        margin-top: 70px;
        background: #78206e;
    }
    .image-container-mv img{
        width:100%;
        height:100%;
    }
    .p1_slider1-img, .p1_slider2-img {
        width: 100%;
    }
    .p1_slider1-border, .p1_slider2-border {
        flex-wrap: wrap;
    }
    .p1_slider1-txt, .p1_slider2-txt {
        width: 100%;
    }
    .p1_slider1-txt p, .p1_slider2-txt p {
        padding: 0px 0px;
    }
    .p1_slider1-img-caption, .p1_slider2-img-caption {
        position: absolute;
        transform: translate(0px, -90px);
        background: #8080809e;
        width: 30%;
        height: 14%;
        color: #fff;
        display: flex;
        align-items: flex-end;
    }
    .p1_slider1-img-caption p, .p1_slider2-img-caption p {
        padding: 10px;
        font-size: 12px;
        position: absolute;
        top: 4px;
    }
    .p1_slider2-txt img, .p1_slider1-txt img{
        height:100px;
    }
    .p1_slider2-control-left {
        transform: translate(0px, 0px);
        top: -40px;
        left: 15px;
    }
    .p1_slider1-control, .p1_slider2-control {
        transform: translate(0px, 0px);
        top: -40px;
        right: 15px;
    }
    .p1_slider2-control svg, .p1_slider1-control svg, .p1_slider2-control-left svg {
        width: 25px;
        height: 25px;
        fill: #b6b6b6;
        cursor: pointer;
    }
    .dot {
        width: 8px;
        height: 8px;
        margin: 0px 2px;
         background: #b6b6b6;
    }
    .p1_slider1-dots, .p1_slider2-dots {
        padding: 10px;
    }
    .p1_slider-container {
        padding: 100px 0px 0px 0px;
    }
    .p1_slider1-txt {
        padding: 50px 25px;
    }
    .p1_slider2-txt {
        padding: 0px 25px 50px 25px;
    }
}


